.search__input {
    height: 50px;
    width: 295px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
}

.search__input:focus {
    border-radius: 6px;
    outline: none;
    border: 1px solid #FF5555;
}

.search__input:disabled {
    border: 1px solid #D9D9D9;
    background: #F9F9F9;
}