.grid {
    display: grid;
    margin-top: 10px;
    justify-content: center;
}
.search {
    display: flex;
    justify-content: center;
    grid-area: a;
}
.search input {
    height: 50px;
    width: 295px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
}
.search button {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background: rgba(255, 85, 85, 1);
    border-radius: 6px;
    border: none;
}
img {
    height: 17px;
    width: 17px;
}